@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

:root {
  --header-height: 3.5rem;
  /*56px*/

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --primary-color-hue: 352;
  --dark-color-lightness: 17%;
  --light-color-lightness: 92%;
  --white-color-lightness: 100%;

  --color-white: hsl(252, 30%, var(--white-color-lightness));
  /* --color-light: hsl(252, 30%, var(--light-color-lightness)); */
  --color-light: #EEEEEE;
  ;
  /* #EF4F9F9; */
  /* #EEEEEE; */

  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
  --color-dark: hsl(252, 30%, var(--dark-color-lightness));

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  /* --body-font: 'Rubik', sans-serif; */
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;

  /*========== Font weight ==========*/
  --font-medium: 400;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --m-0-5: .5rem;
  --m-0-75: .75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;

  /*========== Card padding ==========*/
  --card-padding: 1.9rem 0.95rem;

  /*========== Border radius ==========*/
  --border-radius: 1.25rem;

  /*========== Box shadow ==========*/
  --box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

/*========== Scroll Bar ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
textarea {

  font-family: var(--body-font);
  font-size: var(--body-font);

}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  line-height: 1.7;
  font-weight: var(--font-medium);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-dark);

}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size)
}

/* .............layout................ */
.container {
  max-width: 968px;
  margin: auto;

}

.row {
  display: flex;
  flex-wrap: wrap;
}

/*========== Reusable css classes ==========*/
.section .container {
  padding-top: 3.90rem;
  padding-bottom: 4.75rem;
}

.section-title {
  font-size: var(--h1-font-size);
  margin-left: var(--m-0-75);
  margin-bottom: var(--m-2-5);
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}



/*========== Header ==========*/
.header {
  width: 100%;
  background-color: var(--color-light);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  letter-spacing: 0.125rem;
  position: relative;
}

.nav-logo::after {
  position: absolute;
  content: '';
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: orange;
  top: 56%;
  right: -0.25rem;
}

.nav-list {
  display: flex;
  column-gap: 5rem;
}

/* .nav-menu
    {
      margin-left:auto;
    } */
.nav-link {
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav-link:hover {
  color: red;
}

.change-theme {
  font-size: 1.15rem;
  cursor: pointer;
}

.nav-btns {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

.nav-toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-toggle {
  display: none;
}

.active-link {
  position: relative;
}

.active-link::before {
  content: '';
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 0.3rem;
  height: 0.3rem;
  background-color: red;
  border-radius: 50%;
}

/* HOME */

.home {
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
}

.home .intro {
  max-width: 540px;
  text-align: center;
}

.home .intro img {
  margin-bottom: var(--m-1);
}

.home .intro .social-icons {
  margin-top: var(--m-1-5);
  margin-bottom: var(--m-2);
}

.home .intro .social-icons li {
  display: inline-block;
}

.home .intro .social-icons li:not(:last-child) {
  margin-right: var(--m-1-5);
}

.home .intro .social-icons a {
  font-size: var(--h3-font-size);
}

.btn-default {
  color: #fff;
  vertical-align: middle;
  display: inline-block;
  background-color: #A13333;
  transform: perspective(1px) translateZ(0);
}

.btn {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: var(--border-radius);
}

.btn:focus {
  outline: 0;
}

/* @keyframes button-push
    {
      50%
      {
        transform: scale(0.8);
      }
      100%
      {
        transform: scale(1);
      }
    } */
.btn-default:hover {
  /* animation-name: button-push;
      animation-duration: 0.3s;
      animation-timing-function: linear;
      animation-iteration-count: 1; */

  transform: scale(1.075);
  transition: 0.5s linear;


}

.lni:hover {

  /* animation-name: button-push;
        animation-duration: 0.3s;
        animation-timing-function: linear;
        animation-iteration-count: 1; */

  /* transform: scale(1.1); */
  transform: rotateZ(360deg);
  transition: 1s ease-in;

}

.scroll-down {


  position: absolute;
  bottom: var(--m-2-5);
  left: 0;
  width: 100%;
}

@keyframes ani-mouse {
  0% {
    top: 29%;
  }

  15% {
    top: 50%;
  }

  50% {
    top: 50%;
  }

  100% {
    top: 29%;
  }
}

.mouse {
  border: 2px solid var(--color-dark);
  display: inline-block;
  height: 1.75rem;
  width: 1.25rem;
  /* margin: auto; */
  /* margin-top: var(--m-0-75); */
  border-radius: var(--border-radius);
  position: relative;
}

.mouse .wheel {
  background-color: var(--color-dark);
  border-radius: 50%;
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  top: var(--m-0-5);
  left: 40%;
  display: block;
  animation: ani-mouse 2s linear infinite;
}

.about-img {
  flex: 0 0 25%;
  max-width: 25%;
}

.scroll-down:hover {
  transform: translateY(7px);
  transition: 1s ease-in;
}

.scroll-down {
  display: inline-block;
}

.xyz {
  margin-left: 10px;

}

.mouse-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

.about-img {
  /* flex: 0 0 25%;
  max-width: 25%; */
  /* background-color: red; */
  width: 200px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.about-content {
  flex: 0 0 75%;
  max-width: 75%;
  /* background-color: royalblue; */
}



.about-content .skills {
  flex: 0 0 50%;
  /* max-width: 50%; */
}

.rounded {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--border-radius);
}


.about-text p {
  text-align: justify;
  margin-bottom: var(--m-1);
}

.about {
  text-align: center;

  justify-self: center;
}


.section-title {
  text-align: center;
}

.row-centre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}

.skill-content {
  width: 70%;
}

.skill-content .rounded .skill-item h4 {


  margin-bottom: var(--m-0-75);

}


.skill-content .rounded .skill-item .progress {
  background-color: var(--color-light);
  height: 0.45rem;
  border-radius: var(--border-radius);
  width: 100%;
  position: relative;



}

.skill-content .rounded .skill-item:not(:last-child) {
  margin-bottom: var(--m-1-5);
}

.skill-content .rounded .skill-item .progress .progress-in {

  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: var(--border-radius);



}

.skill-content .rounded .skill-item .progress .skill-percent {

  position: absolute;
  right: 0;
  top: -2.5rem;

}

/*========== Services ==========*/
.services .service-item {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
  display: flex;
}

.services .service-item .service-item-inner {
  border-radius: var(--border-radius);
  padding: var(--card-padding);
  text-align: center;
  transform: translateY(0);
  transition: 0.3s;
}

.services .service-item .service-item-inner p {
  word-break: break-all;
}

.services .service-item .service-item-inner:hover {
  transform: translateY(-0.625rem);
}

.services .service-item img {
  margin-bottom: var(--m-0-75);
}

.service-item p {
  color: #fff;
}

.service-item h3 {
  margin-bottom: var(--m-0-5);
  color: #fff;
}